.card-img {
    height: 100%;
    object-fit: cover; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-2 {
    padding: 10px;
}

.btn {
    width: 100px; 
}

.form-group {
    margin-bottom: 20px;
}

