.card-img {
    height: 100%;
    object-fit: cover; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-2 {
    padding: 10px;
}

.btn {
    width: 100px; 
}

.form-group {
    margin-bottom: 20px;
}

.go-back mat-icon {
    cursor: pointer;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 16px;
    left: 16px;
  }

