<div class="row">
  <div class="col-sm-6 col-lg-4 p-4" *ngFor="let product of products">
    <div class="card card-photo">
      <div class="card-header">
        <a (click)="selectedProduct(product.id)" class="text-decoration-none">
          {{ product.title }}
        </a>
      </div>
      <img [src]="product.image" alt="" class="img-card-top w-100" (click)="selectedProduct(product.id)">
      <div class="card-body">
        <label for="displayStatus-{{ product.id }}">Display Product:</label>
        <select [(ngModel)]="product.displayStatus" (change)="updateDisplayStatus(product); $event.stopPropagation()" id="displayStatus-{{ product.id }}" class="form-control">
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
      </div>
    </div>
  </div>
</div>
