<div class="col-lg-4 mx-auto">
  <div class="go-back">
    <a [routerLink]="['/']">
      <mat-icon>arrow_back</mat-icon>
    </a>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 class="text-center">Add product</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #myForm="ngForm" (ngSubmit)="createProduct(myForm)">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="product.title" #title="ngModel" name="title" required type="text">
          <mat-error *ngIf="title.invalid && title.touched">Title is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="product.description" #description="ngModel" name="description" required rows="2"></textarea>
          <mat-error *ngIf="description.invalid && description.touched">Description is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Client link</mat-label>
          <input matInput [(ngModel)]="product.link" #link="ngModel" name="link" required type="text">
          <mat-error *ngIf="link.invalid && link.touched">Client link is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Display product</mat-label>
          <mat-select [(ngModel)]="product.displayStatus" #displayStatus="ngModel" name="displayStatus" required>
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
          <mat-error *ngIf="displayStatus.invalid && displayStatus.touched">Please select display status</mat-error>
        </mat-form-field>

        <input type="file" class="d-none" (change)="onImageSelected($event)" #photoInput>
        <img [src]="imageSelected || 'assets/no-image.jpg'" class="img-fluid image-preview" alt="Preview" (click)="photoInput.click()">
        <mat-error *ngIf="imageError">Image is required</mat-error>
      </form>
    </mat-card-content>
  </mat-card>

  <button 
    class="btn btn-primary btn-block mx-auto d-flex justify-content-center" 
    style="width: 150px; margin-top: 20px;" 
    (click)="createProduct(myForm)">
    Create
  </button>
</div>
