<div class="col-lg-4 mx-auto">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 class="text-center">Add product</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="uploadImage(title, description, link, selectedValue ?? false)">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Title</mat-label>
          <input matInput #title required type="text">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Description</mat-label>
          <textarea matInput #description required rows="2"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label required>Client link</mat-label>
          <input matInput #link  required type="text">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label required>Display product</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="selectedValue">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <input type="file" class="d-none" (change)="onProductSelected($event)" #photoInput>
        <img [src]="imageSelected || 'assets/no-image.jpg'" class="img-fluid image-preview" alt="Preview" (click)="photoInput.click()">

        <div class="form-group">
          <button mat-raised-button color="primary" class="btn-block">Upload</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
